.initially-hidden {
	display: none;
}

.flash {
	background-color:#FFFF00;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.container-padded--10 {
	padding: 10px;
	width: 100%;
	max-width: 100%;
}

.container-padded--20 {
	padding: 20px;
	width: 100%;
	max-width: 100%;
}

.btn {
  border-radius: 100px !important;
}

.rounded-top-corners {
  border-radius: 10px 10px 0px 0px  !important;
}
.rounded-bottom-corners {
  border-radius: 0px 0px 10px 10px  !important;
}
.rounded-corners {
  border-radius: 10px !important;
}

.background-red {
   background:#FFD4CC !important;
}
.background-green {
   background:#DEF0A5 !important;
}
.background-blue {
   background:#9dccea !important;
}
.background-grey {
   background:#DBDBDB !important;
}

.padding--10 {
	padding: 10px;
}
.padding--20 {
	padding: 20px;
}
.padding--40 {
	padding: 40px;
}

.margin--10 {
	margin: 10px;
}
.margin--20 {
	margin: 20px;
}
.margin--40 {
	margin: 40px;
}

.margin-left--10 {
	margin-left: 10px;
}
.margin-left--20 {
	margin-left: 20px;
}
.margin-left--40 {
	margin-left: 40px;
}

.margin-right--10 {
	margin-right: 10px;
}
.margin-right--20 {
	margin-right: 20px;
}
.margin-left--40 {
	margin-right: 40px;
}

.margin-horiz--10 {
	margin-right: 10px;
	margin-left: 10px;
}
.margin-horiz--20 {
	margin-right: 20px;
	margin-left: 20px;
}
.margin-horiz--40 {
	margin-right: 40px;
	margin-left: 40px;
}

.margin-top--10 {
	margin-top: 10px;
}
.margin-top--20 {
	margin-top: 20px;
}
.margin-top--40 {
	margin-top: 40px;
}


.dotted-input
{
    border:0;
    border-bottom: 2px dotted;
    /*background-color: #ccf2ff;*/
    margin: 4px;
    background-color: transparent !important;
}

/*Filtering info at bottom of datatable*/
.dataTables_info {
	color: #aaa !important;
	font-size: 10px;
}

.even {
	background-color: #f5f5f5 !important;

}

/*.dataTable {
	text-align: center !important;
}*/


.navbar {
	background-color: #cef6ff !important;
}


