<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
      <title>
        {% block title %}   
        MAFFSTASTIC     
        {% endblock %}
      </title>

      <!-- Bootstrap and my own themes -->
      <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet">
      <link href="{{url_for('static', filename = 'css/base.css')}}" rel="stylesheet">
      <link href="{{url_for('static', filename = 'css/datatables/custom_datatables.css')}}" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!-- http://fortawesome.github.io/Font-Awesome/get-started/ -->
      

      {% block scripts_top %}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

        <script src="{{url_for('static', filename = 'js/jquery-2.1.1.min.js', _external=True)}}"></script>        
        <!--<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script> --> 
        <script src="{{url_for('static', filename = 'js/datatables/datatables.min.js', _external=True)}}"></script>        
      {% endblock %}
    {% endblock %} <!-- end head -->
  </head>
  
  <body>    
    {% block body %}

      <!-- Navbar -->
      {% include "navbar.html" %}

      <!-- Flash messages -->
      {% include "flash_messages.html" %}

      <!-- Testing button -->
      <!-- <button type="button" class="btn btn-primary" id='tester'>TEST SOMETHING</button> -->

    {% endblock %} <!-- end body --> 

    {% block scripts_bottom %}
      <script src="{{url_for('static', filename = 'js/moment.js', _external=True)}}"></script>
      <script src="{{url_for('static', filename = 'js/bootstrap.min.js', _external=True)}}"></script>
      <script src="{{url_for('static', filename = 'js/base.js', _external=True)}}"></script>
    {% endblock %}
  </body>
  
</html>