{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
</script>
{% endblock %}

{% block title %}
{{ super() }}
Home
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  {% include 'login_widget.html' %}

  <div class='row' id='welcome_view'>
      <div class="col-sm-6 padding--40">
        <h1>
          Maths maths maths
        </h1>
      </div>
      <div class="col-sm-6 padding--40">
        <div class='row margin--20'>
          <button id='im_a_student_button' class='btn btn-success btn-block'>I'm a student</button>
        </div>
        <div class='row margin--20'>
          <button id='im_a_teacher_button' class='btn btn-info btn-block'>I'm a teacher</button>
        </div>
        <div class='row margin--20'>
          <button id='im_a_parent_button' class='btn btn-warning btn-block'>I'm a parent</button>
        </div>
      </div>
  </div>  <!-- end welcome view -->

  <div class='row initially-hidden' id='pupil_signup_view'>
      <div class="col-xs-12">
        <h2 class='text-center'>
          Select an option:
        </h2>
      </div>
      <div class='col-sm-6  text-center'>
          <h3>My teacher gave me a code</h3>
          <input placeholder='Enter classroom code' id='signup_pupil_entry_code_input'></input><br>
          <button id='signup_pupil_entry_code_button' class='btn btn-success margin-top--10'>Sign up to this class</button>
      </div>
      <div class='col-sm-6 text-center'>
          <h3>I don't have a code from my school</h3>
          <button id='signup_pupil_independent_button' class='btn btn-success margin-top--10'>Sign up for a personal account</button>
      </div>
  </div>

  <div class='row initially-hidden' id='teacher_signup_view'>
      <div class="col-sm-8">
        <h2>
          Create a teacher's account
        </h2>
        <input id='signup_teacher_email_input' placeholder='Email'></input><br>
        <input id='signup_teacher_password_input' type='password' placeholder='Password'></input><br>
        <input id='signup_teacher_firstname_input' placeholder='First name (e.g. Jane)'></input><br>
        <input id='signup_teacher_surname_input' placeholder='Surname (e.g. Smith)'></input><br>
        <input id='signup_teacher_display_name_input' placeholder='Display name (e.g. Mrs Smith)' size="40"></input><br>
        <button id='signup_teacher_signup_button' class='btn btn-success margin-top--10'>Sign up</button>
      </div>
  </div>

  <div class='row initially-hidden' id='parent_signup_view'>
      <div class="col-sm-8">
        <h2>
          Information for parents and guardians
        </h2>
        Spiel goes here. There are 2 types of student accounts - those that are independent, and those that are connected to their school. <a href= {{url_for('signup_pupil_independent') }}>You or your child can click here to create an independent account.</a>
      </div>
  </div>


</div>  <!-- end container -->



{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/entry.js', _external=True)}}"></script>
{% endblock %}

