{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  var classroom_data = {{classroom_data|tojson}}
</script>
{% endblock %}

{% block title %}
{{ super() }}
Exercises
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  <table id="classrooms">
      <thead>
          <tr>
              <th>Name</th>
              <th>Pupil count</th>
              <th>Latest</th>
              <th>Next</th>
              <th>Entry code</th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
      </thead>
  </table>
</div>

{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/instructor_classrooms.js', _external=True)}}"></script>
{% endblock %}

