{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  var homework_data = {{homework_data|tojson}}
</script>
{% endblock %}

{% block title %}
{{ super() }}
Exercises
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  <table id="exercises">
      <thead>
          <tr>
              <th>Exercise name</th>
              <!-- <th>Description</th> -->
              <th>Class</th>
              <th>Date set</th>
              <th>Date due</th>
              <th>Status count</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
  </table>
</div>

{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/instructor_exercises.js', _external=True)}}"></script>
{% endblock %}

