{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  var pupil_data = {{pupil_data|tojson}}
</script>
{% endblock %}

{% block title %}
{{ super() }}
Pupils
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  <table id="pupils">
      <thead>
          <tr>
              <th>Name</th>
              <th>Classes</th>
              <th></th>
          </tr>
      </thead>
  </table>
</div>

{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/instructor_pupils.js', _external=True)}}"></script>
{% endblock %}

