{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  var submission_data = {{submission_data|tojson}}
</script>
{% endblock %}

{% block title %}
{{ super() }}
Pupils
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  <table id="submissions">
      <thead>
          <tr>
              <th>Name</th>
              <th>Exercise</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Correct %</th>
              <th>Attempted %</th>
              <th></th>
          </tr>
      </thead>
  </table>
</div>


{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/instructor_submissions.js', _external=True)}}"></script>
{% endblock %}

