{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  var submission_data = {{submission_data|tojson}}
</script>
{% endblock %}

{% block title %}
{{ super() }}
Exercises
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  <table id="submissions">
      <thead>
          <tr>
              <th>Exercise</th>
              <th>Description</th>
              <th>Status</th>
              <th>Score %</th>
              <th>Attempted %</th>
              <th>Date set</th>
              <th>Date due</th>
          </tr>
      </thead>
  </table>
</div>


{% endblock %} <!-- body block -->

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/my_exercises.js', _external=True)}}"></script>
{% endblock %}

