{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
</script>
{% endblock %}

{% block title %}
{{ super() }}
Sign up for an account
{% endblock %}

{% block body %}
{{ super() }}

<div class='row'>
    <div class="col-sm-2">
      <h3>
        Login
      </h3>      
      <input id='login_username_input' placeholder='Username or email'></input>
      <input id='login_password_input' type='password' placeholder='Password'></input>
      <button id='login_button'>Login</button>
    </div>
</div>

<div class='row' id='xx'>
    <div class="col-sm-8">
      <h2>
        Sign up for an account
      </h2>
      <button id='im_a_student_button'>I'm a student</button>
      <button id='im_a_teacher_button'>I'm a teacher</button>
      <button id='im_a_parent_button'>I'm a parent</button>
    </div>
</div>


{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/entry.js', _external=True)}}"></script>
{% endblock %}

