{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  var entry_code = {{entry_code|tojson}}
</script>
{% endblock %}

{% block title %}
{{ super() }}
Sign up for an account
{% endblock %}

{% block body %}
{{ super() }}

<div class='row'>
    <div class="col-sm-2">
      <h3>
        Login
      </h3>      
      <input id='login_username_input' placeholder='Username or email'></input>
      <input id='login_password_input' type='password' placeholder='Password'></input>
      <button id='login_button'>Login</button>
    </div>
</div>

<div class='row' id='xx'>
    <div class="col-sm-8">
      {% if entry_code %}
        <h2>
          Create an account to join your class
        </h2>
        <input id='signup_username_input' placeholder='Username (no @ symbol)'></input><br>
        <input id='signup_password_input' type='password' placeholder='Password'></input><br>
        <input id='signup_firstname_input' placeholder='First name'></input><br>
        <input id='signup_surname_input' placeholder='Surname'></input><br>
        <button id='signup_button'>Signup</button><br><br>
        <button id='show_login_button'>I already have an account</button>
      {% else %}
        <h2>
          Sorry, that entry code does not exist
        </h2>
      {% endif %}
    </div>
</div>


{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/signup_pupil_via_school.js', _external=True)}}"></script>
{% endblock %}

