{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  var entry_code = {{entry_code|tojson}}
</script>
{% endblock %}

{% block title %}
{{ super() }}
Sign up for an account
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  {% include 'login_widget.html' %}

  <div class='row' id='xx'>
    
    {% if entry_code %}
    
    <div class="col-xs-12">
        <h2 class='text-center'>
          Select an option:
        </h2>
      </div>
      <div class='col-sm-6  text-center'>
          <h3>I already have an account</h3>
          <button id='show_login_button' class='btn btn-info'>Login</button>
      </div>
      <div class='col-sm-6 text-center'>
          <h3>I'm new, so I need to create an account</h3>
          <input id='signup_username_input' placeholder='Username (no @ symbol)'></input><br>
          <input id='signup_password_input' type='password' placeholder='Password'></input><br>
          <input id='signup_firstname_input' placeholder='First name'></input><br>
          <input id='signup_surname_input' placeholder='Surname'></input><br>
          <button id='signup_button' class='btn btn-success margin-top--10'>Signup</button><br><br>
      </div>
    </div>
    
    {% else %}
      <div class="col-xs-12">
          <h2>
            Sorry, that entry code does not exist
          </h2>
      </div>
    {% endif %}
  
</div>


{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/signup_pupil_via_school.js', _external=True)}}"></script>
{% endblock %}

