{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
</script>
{% endblock %}

{% block title %}
{{ super() }}
Sign up for an account
{% endblock %}

{% block body %}
{{ super() }}

<div class='container'>
  {% include 'login_widget.html' %}

  <div class='row' id='xx'>
      <div class="col-sm-8">
        <h2>
          Sign up for an independent student account
        </h2>
        <input id='signup_email_input' placeholder='Email'></input><br>
        <input id='signup_password_input' type='password' placeholder='Password'></input><br>
        <input id='signup_firstname_input' placeholder='First name'></input><br>
        <input id='signup_surname_input' placeholder='Surname'></input><br>
        <button id='signup_button' class='btn btn-success margin-top--10'>Signup</button>
      </div>
  </div>

</div>  <!-- end container -->

{% endblock %}

{% block scripts_bottom %}
  {{ super() }}
  <script src="{{url_for('static', filename = 'js/signup_pupil_independent.js', _external=True)}}"></script>
{% endblock %}

